extends layout

block content
  .container-fluid
    .row
      .col-md-4
        br
        br
        br
        p.medium
          | Novum Insights does all kinds of stuff, providing things and items to people who are keen for stuff, things, and items.
    hr
    .row
      .col-md-4
      .col-md-4
      .col-md-4
  include footer.pug

  div &nbsp;
  div &nbsp;
